@font-face {
	font-family: "Soloist";
	src: url("../assets/fonts/soloist/soloist1.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Soloist", sans-serif;
	background-color: black;
	height: 100dvh; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFE81F;
}
.container {
	text-align: center;
	transform: rotateX(25deg);
	
}
.navbar {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: hsla(58, 90%, 8%, 0.575);;

}

.navbar a {
	font-family: monotype;
	display: block;
	color: hsla(210, 85%, 95%, 0.283);;
	text-align: center;
	padding: 8px 20px;
}

.navbar a:hover {
	background-color: hsla(210, 85%, 95%, 0.078);
	transform: scale(1.2);
}