* {
@font-face {
	font-family: "MyFont";
	src: url("assets/fonts/soloist1.ttf") format("type");	
	font-weight: normal;
	font-style: normal;
}
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'MyFont';
	background-color: black;
	height: 100dvh; /* more info about dvh here: https://web.dev/blog/viewport-units */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFE81F;
}
.container {
	text-align: center;
	transform: rotateX(25deg);
	
}