* 

.block {
  width: 150px;
  height: 150px;
  background: orange;
  cursor: grab;
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-weight: bold;
}