* 

.block {
  width: 200px;
  height: 200px;
  background: black;
  cursor: grab;
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
}