* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	height: 100dvh; /* more info about dvh here: https://web.dev/blog/viewport-units */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.block {
  width: 150px;
  height: 150px;
  background: orange;
  cursor: grab;
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-weight: bold;
}